// Nextflow configuration for nf-core/mag on a SLURM cluster.

process {
    executor = 'slurm'
    clusterOptions = '--partition=normal'
}

executor {
    queueSize    = 20
    pollInterval = '30 sec'
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "${launchDir}/slurm/singularity_cache"
}
